Repository CRDigitalAndMining/python-uv: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devcontainer-validation.yml, azure-pipelines/docker-validation.yml, azure-pipelines/docs-deploy.yml, azure-pipelines/format-check.yml, azure-pipelines/lint.yml, azure-pipelines/test.yml

Path conditions:
  azure-pipelines/devcontainer-validation.yml: any of: .devcontainer, .python-version, azure-pipelines/devcontainer-validation.yml
  azure-pipelines/docker-validation.yml: any of: **.py, Dockerfile, .dockerignore, .python-version, pyproject.toml, uv.lock, azure-pipelines/docker-validation.yml
  azure-pipelines/docs-deploy.yml: any of: docs, .python-version, mkdocs.yml, pyproject.toml, uv.lock, azure-pipelines/docs-deploy.yml
  azure-pipelines/format-check.yml: any of: **.py, .python-version, pyproject.toml, ruff.toml, uv.lock, azure-pipelines/format-check.yml
  azure-pipelines/lint.yml: any of: **.py, .python-version, pyproject.toml, pyrightconfig.json, ruff.toml, uv.lock, azure-pipelines/lint.yml
  azure-pipelines/test.yml: any of: **.py, .coveragerc, .env**, .python-version, tests, pyproject.toml, pytest.ini, uv.lock, azure-pipelines/test.yml

chore: remove deprecated GitHub Actions and related configurations, update documentation for Azure DevOps Pipelines
  .github/CODEOWNERS
  .github/actions/setup-git-config/action.yml
  .github/actions/setup-python-with-uv/action.yml
  .github/dependabot.yml
  .github/labeler.yml
  .vscode/settings.json
  azure-pipelines/README.md
  docs/configurations/index.md
  docs/index.md
Due: azure-pipelines/docs-deploy.yml

chore: update copyright information and repository references to CRDigitalAndMining
  LICENSE
  README.md
  docs/about/license.md
  docs/getting-started/index.md
  docs/index.md
  docs/usecases/index.md
  docs/usecases/opencv.md
  mkdocs.yml
  pyproject.toml
  renovate.json
Due: azure-pipelines/docker-validation.yml, azure-pipelines/docs-deploy.yml, azure-pipelines/format-check.yml, azure-pipelines/lint.yml, azure-pipelines/test.yml

Refactor code structure for improved readability and maintainability
  .github/copilot-instructions.md
  README.md
  docs/guides/test.md
  docs/guides/tools/logger.md
  docs/index.md
  docs/usecases/index.md
  pyproject.toml
  ruff.toml
  tests/tools/test__logger.py
  tools/config/settings.py
  tools/logger/__init__.py
  tools/logger/azuremonitor.py
  tools/logger/logger.py
  tools/logger/type.py
  uv.lock
Due: azure-pipelines/docker-validation.yml, azure-pipelines/docs-deploy.yml, azure-pipelines/format-check.yml, azure-pipelines/lint.yml, azure-pipelines/test.yml

feat: add postAttachCommand to configure Git file mode
  .devcontainer/devcontainer.json
Due: azure-pipelines/devcontainer-validation.yml

feat: update VSCode configuration with new extensions and settings for improved development experience
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: azure-pipelines/devcontainer-validation.yml

feat: Add monitoring and logging documentation for Azure Monitor and Application Insights
  .coveragerc
  .env
  .gitignore
  .pre-commit-config.yaml
  docs/configurations/environment-variables.md
  docs/deployment/azure.md
  docs/deployment/docker.md
  docs/deployment/index.md
  docs/deployment/monitoring.md
  docs/deployment/secrets.md
  docs/guides/tools/config.md
  docs/guides/tools/index.md
  docs/guides/tools/logger.md
  mkdocs.yml
  pyproject.toml
  tests/tools/test__config.py
  tests/tools/test__logger.py
  tests/tools/test__tracer.py
  tools/__init__.py
  tools/logger/logger.py
  tools/logger/type.py
  tools/tracer/timer.py
  uv.lock
Due: azure-pipelines/docker-validation.yml, azure-pipelines/docs-deploy.yml, azure-pipelines/format-check.yml, azure-pipelines/lint.yml, azure-pipelines/test.yml

feat: Add optional dependencies for FastAPI and SQLAlchemy
  .env
  README.md
  pyproject.toml
Due: azure-pipelines/docker-validation.yml, azure-pipelines/docs-deploy.yml, azure-pipelines/format-check.yml, azure-pipelines/lint.yml, azure-pipelines/test.yml

feat: Update environment variables documentation to include FastAPI as an optional dependency
  docs/configurations/environment-variables.md
Due: azure-pipelines/docs-deploy.yml

feat: Simplify minimal branch by removing heavy files and updating configurations for quick prototyping
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .vscode/settings.json
  MINIMAL_BRANCH_GUIDE.md
  create-minimal-branch.sh
Due: azure-pipelines/devcontainer-validation.yml

docs: Add branch maintenance guide for main/minimal workflow
  BRANCH_MAINTENANCE.md
Due: none

docs: Add guide for using repo as template in Azure DevOps
  USING_AS_TEMPLATE.md
Due: none

docs: Remove unnecessary blank lines in cherry-pick workflow examples
  BRANCH_MAINTENANCE.md
Due: none

feat: Update Dockerfile and devcontainer configuration to enhance development environment and add essential tools
  .devcontainer/Dockerfile
  .devcontainer/TOOLS_REFERENCE.md
  .devcontainer/devcontainer.json
Due: azure-pipelines/devcontainer-validation.yml

feat: Update VSCode settings to enhance spell checking and remove default formatters for specific languages
  .vscode/settings.json
Due: none

feat: Enhance Dockerfile and devcontainer setup with additional tools and configurations for improved development experience
  .devcontainer/Dockerfile
  .devcontainer/TOOLS_REFERENCE.md
  .devcontainer/devcontainer.json
  BRANCH_MAINTENANCE.md
  USING_AS_TEMPLATE.md
Due: azure-pipelines/devcontainer-validation.yml
